<div ng-controller="borrow-book">
  <h4>Borrow Books</h4>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">Form</div>
        <div class="panel-body">
           <form class="form-horizontal" id="book_form" ng-submit="submitForm()">
            <div class="form-group col-md-12">
              <label>Name of Borrower <span style="color: red">*</span></label>
              <input type="text" class="form-control" ng-model="borrower" id="book_borrower" name="book_borrower">
            </div>



            <div class="form-group col-md-12">
              <label>Books to Borrow <span style="color: red">*</span></label>
              <table datatable="ng" class="table" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                <thead>
                <tr>
                    <td style="width:25%">Title</td>
                    <td style="width:15%">Author(s)</td>
                    <td style="width:15%">Genre</td>
                    <td style="width:15%">Section</td>
                    <td style="width:15%">Status</td>
                    <td style="width:15%">Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="x in book_data">
                  <td>{{ x.title }}</td>
                  <td>{{ x.author }}</td>
                  <td>{{ x.genre }}</td>
                  <td>{{ x.section }}</td>
                  <td>{{ x.is_available }}</td>
                  <td><div class="btn-group">
                    <button type="button" ng-click="borrow_book(x.id)" class="btn btn-success">Borrow Book</button>
                    </div></td>
                </tr>
                <!-- ng-if="x.email_address != '<?php echo $this->session->userdata('email')?>' " -->
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 $(document).ready(function(e){
   $('.tagsinput').tagsinput();
   $('#book_section').select2();
 });
</script>