
<div ng-controller="change_password">
  <h4>Change Password</h4>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">Form</div>
        <div class="panel-body">
           <form class="form-horizontal" id="book_form" ng-submit="submitForm()">
           <input type="hidden" class="form-control" id="book_id" ng-model="book.book_id" name="book_id">
            <div class="form-group col-md-12">
              <label>Current Password <span style="color: red">*</span></label>
              <input type="password" class="form-control" required id="p_password" ng-model="pass.p_password" name="p_password">
            </div>

            <div class="form-group col-md-12">
              <label>New Password <span style="color: red">*</span></label>
              <input type="password" class="form-control" required id="n_password" ng-model="pass.n_password" name="n_password">
            </div>

            <div class="form-group col-md-12">
              <label>Confirm Password <span style="color: red">*</span></label>
              <input type="password" class="form-control" required id="c_password" ng-model="pass.c_password" name="c_password">
            </div>

            <div class="form-group col-md-6">
              <button type="reset" id="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-info">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>